h2{
  color: red;
}
p{
  color:orange;
}

.rotate90 {
    width: 500px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);


}
